<header>Nanonium</header>
<div class="dume-section">
    <div class="section-col">
        <div class="section-col-head"><i class="fa fa-flash"></i> CREATE</div>
        <div class="section-col-suggest" onclick="chat.insertQuestion(document.querySelectorAll('.section-col-suggest')[0].innerText);">Create a student table with name, roll, class, marks and grade</div>
        <div class="section-col-suggest" onclick="chat.insertQuestion(document.querySelectorAll('.section-col-suggest')[1].innerText);">Make 2 tables for employee and salary where primary key is employee id</div>
        <div class="section-col-suggest" onclick="chat.insertQuestion(document.querySelectorAll('.section-col-suggest')[2].innerText);">Genarete a demo table with values for my sql practice</div>
    </div>
    <div class="section-col">
        <div class="section-col-head"><i class="fa fa-search"></i> SEARCH</div>
        <div class="section-col-suggest" onclick="chat.insertQuestion(document.querySelectorAll('.section-col-suggest')[3].innerText);">Find all students name whose score greater then 80 in mathematics</div>
        <div class="section-col-suggest" onclick="chat.insertQuestion(document.querySelectorAll('.section-col-suggest')[4].innerText);">Select those employees whose deperment located in delhi but there origin is not</div>
        <div class="section-col-suggest" onclick="chat.insertQuestion(document.querySelectorAll('.section-col-suggest')[5].innerText);">Get the value of 3rd row 2nd column on my table</div>
    </div>
    <div class="section-col">
        <div class="section-col-head"><i class="fa fa-trash"></i> DELETE</div>
        <div class="section-col-suggest" onclick="chat.insertQuestion(document.querySelectorAll('.section-col-suggest')[6].innerText);">Delete the student table permanently</div>
        <div class="section-col-suggest" onclick="chat.insertQuestion(document.querySelectorAll('.section-col-suggest')[7].innerText);">Remove the 2nd row from employee table and all connected tables</div>
        <div class="section-col-suggest" onclick="chat.insertQuestion(document.querySelectorAll('.section-col-suggest')[8].innerText);">POP all product information which are produce in last 4 month and price morethen 20k</div>
    </div>
</div>